@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.loading-animation {
    animation: loading-animation 1s infinite linear;
}

.left-right {
    transform-origin: 0% 50%;
}

@keyframes loading-animation {
    0% {
        transform: translateX(0) scaleX(0);
    }
    40% {
        transform: translateX(0) scaleX(0.4);
    }
    100% {
        transform: translateX(100%) scaleX(0.5);
    }
}
