<aside x-sync x-merge="morph" id="aside" class="w-80 bg-gray-800 rounded-md p-4">
    <span class="block text-center font-black">ASIDE</span>
    <br>
    <h1 x-text="$store.demo.aside">Aside text</h1>
    <p class="text-xs text-gray-200 mt-2">Time: {\microtime()}</p>
</aside>
