<!--- SOURCE: https://www.creative-tim.com/twcomponents/component/indeterminate-progress-bar --->
<!--- Shows during Alpine AJAX requests via ajax:send/ajax:sent events --->
<div x-ref="loading" class="hidden fixed top-0 left-0 w-full z-50">
    <div class='h-1 w-full overflow-hidden'>
        <div class='loading-animation w-full h-full bg-purple-500 left-right'></div>
    </div>
</div>
